*{
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: #166ADA;
    color: white;
    padding: 1vw 0 1vw;
    margin-bottom: 2vw;
    font-size: larger;
}
